  --color1: #24283b;
  /* Dark background color */
  --color2: #282828;
  /* Slightly lighter background color */
  --color3: #f4d9e1;
  /* Light text color */
  --color4: #e6b9c6;
  /* Light pink color */
  --color5: #9ece6a;
  /* Light green color */
  --color6: #d3869b;
  /* Light purple color */
  }
